@charset "utf-8"
	
/*CSS Document*/
/*
========================================
  Custom Styles
========================================
*/
html {
		height: 100%;
}
body {
	background-image: url(../images/vintage-leaves.png);
	ackground-size: 100%;
	min-height: 100%;
	width: 100%;
	position: absolute;
	height: auto;
}
button {
	background-color: #724A4B;
	color: white;
}
/*
 ========================================
  Typogrophy
 ========================================
*/
p {
	padding: 5px;
}


/*
 ========================================
  Grid
 ========================================
*/
.dyn-div {
	display: inline-block;
	padding: 5px;
}
button, 
input,
label {
	margin: 5px;
	padding: 10px;
}

